<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/stylesheets/home.css" rel="stylesheet">
    <link href="/stylesheets/assets/dist/css/bootstrap.min.css" rel="stylesheet">
    <title>
        <%= title %> 
    </title>
    
</head>
<body class="text-center">

    <div class="anh_bg"></div>
      <div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column ">
        <header class="masthead mb-auto">
            <div class="inner">
            <h3 class="masthead-brand" style="color: white">Shop giày Nai Kỳ Lạ</h3>
            <nav class="nav nav-masthead justify-content-center">
                <a class="nav-link active" href="/">Trang chủ</a>
                <a class="nav-link" href="./product/prod">Sản phẩm</a>
                <a class="nav-link" href="../auth/login">Đăng nhập</a>
            </nav>
            </div>
        </header>
        <main role="main" class="inner cover bg" style="color: brown; margin-left:50px;">
          <h1 class="cover-heading">Shop giày Nai Kỳ Lạ</h1>
          <p class="lead">Mang đến cho bạn những đôi giày lạ kỳ  </p>
          <p class="lead">
            <a href="./product/prod" class="btn btn-lg btn-secondary">Xem sản phẩm</a>
          </p>
        </main>

        <footer class="mastfoot mt-auto">
            <div class="inner">
            <p> <a href=""> admin Jerry</a>  , by <a href="https://www.facebook.com/nddmanh/">@nddmanh</a>.</p>
            </div>
        </footer>     
    </div>
   
</body>
</html>