    <footer class="mastfoot mt-auto">
        <div class="inner">
        <p> <a href=""> admin Jerry</a>  , by <a href="https://www.facebook.com/nddmanh/">@nddmanh</a>.</p>
        </div>
    </footer>     